<%= form_with(model: secret) do |form| %>
  <% if secret.errors.any? %>
    <div class='error' style="color: #E76F51">
      <h2 class='error-header'><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
        <% secret.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, 'Description', style: "display: block" %>
    <%= form.text_area :body%>
  </div>

  <div>
    <%= form.submit %>
    <p class="attention">(Attention, you cant delete or edit your secret after submitting.)</p>
  </div>
<% end %>