<head>
  <%= stylesheet_link_tag 'index' %>
</head>
  <% if user_signed_in? %>
    <%= render 'user/profile' %>
  <% else %>
    <div class="placeholder"></div>
  <% end %>
  <div class="secrets-content">
    <% if user_signed_in? %>
      <h2>Tell us your Secret</h2>
      <div class="secret">
        <%= render 'secrets/form', secret: @secret %>
      </div>
    <% end %>
    <h2>Submited Secrets</h2>
    <div id="secrets">
      <% @secrets.each do |secret| %>
        <%= link_to secret, class: 'secret-link' do %>
          <%= render secret %>
        <% end %>
      <% end %>
    </div>
  </div>
