<%= render 'user/profile' %>

<div class="secret-show">
    <div class='back-button'>
      <%= link_to secrets_path do %>
      <i class="fas fa-times-circle close-icon"></i>
      <% end %>
    </div>

  <div class="show-secret">
    <%= render @secret %>
  </div>
</div>

<div class="comments-wrapper">
  <h2>Comments</h2>
  <div class="comments">
    <div>
      <%= render 'comments/form', comment: @comment %>
    </div>
  <br>
  <%- @secret.comments.each do |comment|%>
   <p class="comment-username"><%= comment.user %></p> 
    <%= comment.body %>
    <br>
  <% end %>
 </div>
</div>