<%= render 'user/profile' %>

<div class="secret-show">
    <%= render 'back_button' %>

  <div class="show-secret">
    <%= render @secret %>
  </div>
</div>

<div class="comments-wrapper">
  <h2>Comments</h2>
  <div class="comments">
    <div class='comment-form'>
      <%= render 'comments/form', comment: @comment %>
    </div>
  <br>
  <div class="submited-comments">
    <%- @secret.comments.each do |comment|%>
    <hr>
    <div class="comment-first-row">
      <div class="comment-username"><%= comment.user.username %></div>
      <% if current_user == comment.user %>
        <%= button_to comment, method: "delete", class: 'delete-button' do%>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </div>
      <div class='comment-body'><%= comment.body %></div>
      <br>
    <% end %>
  </div>
 </div>
</div>