<!DOCTYPE html>
<html>
  <head>
    <title>Secret Safe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/5ed27ce724.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class='navbar'>
    <div class='brand'>
      <%= link_to image_tag("safe.png", alt: 'safe', class: 'navbar-logo'), root_path%> <h1><%= link_to 'Secret Safe', root_path %></h1>
    </div>
    <%if !user_signed_in? %>
      <div class="account-buttons">
        <%= button_to "Log In", new_user_session_url, method: "get" %>
        <%= button_to "Sign In", new_user_registration_url, method: "get" %>
      </div>
    <% else %>
      <div class="account-buttons">
        <%= button_to "Log Out", destroy_user_session_url, method: "delete" %>
      </div>
    <% end %>
  </nav>
  <% if alert || notice %>
    <div class="alerts-and-notices">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
