<!DOCTYPE html>
<html>
  <head>
    <title>Secret Safe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/5ed27ce724.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class='navbar'>
    <div class='brand'>
      <%= link_to image_tag("safe", alt: 'safe', class: 'navbar-logo'), root_path%> <h1><%= link_to 'Secret Safe', root_path %></h1>
    </div>
    <div class="account-buttons">
      <%= button_to "Log In", method: "get" %> <%# Path Missing %>
      <%= button_to "Sign In", method: "get" %> <%# Path Missing %>
    </div>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
